h1 {
   color:lightgrey;
   font-weight:bold;
   }
.noidung {
   font-family:'Kanit', sans-serif; 
   color:black;
   }
#luuy {
   color:red;
   text-decoration:underline;
   }
.noidungphu {
   font-family:'Kanit', sans-serif;
   color:lightpink;
   text-decoration:italic;
   }
    